* {
  background-color: ff0000; }

.contenedor {
  height: 300px;
  display: grid;
  grid-template-rows: repeat(2, auto auto);
  grid-template-areas: "header" "header" "main" "main" "footer" "footer"; }
  .contenedor p {
    background-color: blue; }
